.pmdialog{
	display: none;
	position:absolute;
	z-index: 3000;
	background: #fff;
	border: 8px solid #999;
}
.pmdialog.move{
	cursor:move;
	opacity: 0.4!important;
}

.pmdialog .header{
    line-height: 32px;
    background-color: #f0f0f0;
    padding-left: 12px;
    font-size: 14px;
    font-weight: bold;
}
.pmdialog .header .title{
	display:inline-block;
	overflow:hidden;
}
.pmdialog .header .resize-bar{display:none;}
.pmdialog.pmdialog-tag-fold .header .resize-bar{
	display: inline-block;
	height: 12px;
	width: 7px;
	position: absolute;
	right: 0;
	bottom: 0;
	cursor: se-resize;
	padding-left: 8px;
	overflow: hidden;
	font-size: 14px;
	font-weight: normal;
	font-family: arial;
	-webkit-transform: rotate(20deg);
	line-height: 14px;
	letter-spacing: -1px;
}
.pmdialog.move .header,
.pmdialog.pmdialog-drag .header{
	cursor: move;
}
.pmdialog.pmdialog-tag-fold{
	border:1px solid #A0A0A0;
	opacity:0.8;
}
.pmdialog .header .button,
.pmdialog.pmdialog-tag-fold .content,
.pmdialog.pmdialog-tag-fold .footer{
	display:none;
}
.pmdialog.pmdialog-tag-event.pmdialog-tag-fold{
	background-color:#ACE1AF;
}
.pmdialog.pmdialog-tag-fold{
	background-color:#FFA07B;
}
.pmdialog.pmdialog-tag-fold .header{
	background:none;
	overflow:hidden;
}
.pmdialog.pmdialog-tag-fold .header .button{
	display: inline-block;
	border: none;
	background: none;
	font-size: 12px;
	color: #369!important;
	font-weight: normal;
	padding:0 6px;
	line-height: 24px;
}
.pmdialog .content{
	padding:8px;
	width:auto;
}
.pmdialog .footer{
    zoom: 1;
    width:auto;
    padding:8px;
    background-color: #fff;
    border-top: 1px solid #f0f0f0;
}
.pmdialog .button{
	vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    border-width: 1px;
    border-style: solid;
    border-color: #b3b3b3 #b3b3b3 #9a9a9a;
    text-align: center;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    height: 24px;
    line-height: 23px;
    background-color: #f0f0f0;
    padding: 0 12px;
    color: #444 !important;
    
    background-image: -moz-linear-gradient(top, #fcfcfc, #e4e4e4);
    background-image: -ms-linear-gradient(top, #fcfcfc, #e4e4e4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#e4e4e4));
    background-image: -webkit-linear-gradient(top, #fcfcfc, #e4e4e4);
    background-image: -o-linear-gradient(top, #fcfcfc, #e4e4e4);
    background-image: linear-gradient(top, #fcfcfc, #e4e4e4);
}
/**
 * 	设置页面参数的对话框
 */
.pmdialog .setting-list{
}
.pmdialog .setting-list dl{
	padding:4px;
}
.pmdialog .setting-list dt{
	float:left;
	width:100px;
	padding-right:8px;
	text-align:right;
}
.pmdialog .setting-list dd{
	float:left;
}
.pmdialog .setting-list .character-url{
	width: 200px;
}
.pmshim{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#aaa;
	opacity:0.6;
}
